*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 10%;
    width: 60%;
    background-color: red;
    border: 0.3rem solid white;
    border-radius: 1rem;
}

.container h1{
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: default;
}

.container input{
    width: 80%;
    height: 2rem;
    background-color: #333;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem;
    border: 0.3rem solid black;
    margin-bottom: 1rem;
}

.container button{
    padding: 1rem 2rem;
    color: white;
    font-size: 1.5rem;
    border: 0.3rem solid white;
    border-radius: 1rem;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s;
}

.container button:hover{
    transform: scale(1.1);
}

#hasil{
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: wheat;
    font-size: 2rem;
    text-align: center;
}